{% block pageContent %}
    <div id="app">
        <div>
            <profile></profile>
        </div>
        {#<example></example>#}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}

