
###> symfony/framework-bundle ###
.env
/.env
/.env.local
/.env.local.php
/.env.*.local
/.idea.*
/.idea*
/.gitignore*
/.git/*
/node_modules
/node_modules/*
/var/
/src/Controller/VueController.php
src/Controller/VueController.php
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

