{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <v-app>
            <v-content>
                <v-container>
                    <h3>My Symfony 4 sample project. Templates Dir</h3>
                    <v-btn color="blue">Info</v-btn>
                    <example></example>

                </v-container>
            </v-content>
        </v-app>
    </div>

{% endblock %}